<div class="row my-5 justify-content-center">
    <div class="col-8 col-md-6 col-lg-4">
        <h3 class="text-center mb-5">회원가입</h3>
        <form name="frm" method="post">
        <div class="input-group my-2">
            <div class="input-group-text">이 메 일</div>
            <input class="form-control"id="email" name="email" value="tomato@hot.com" />
        </div>
        <div class="input-group">
            <div class="input-group-text">비밀번호</div>
            <input
            class="form-control"
            name="password"
            type="password"
            value="12345678"
            />
        </div>
        <div class="my-3">
            <button class="btn btn-success w-100">회원가입</button>
        </div>
        <div class="text-end mt-3"><a href="/login">로그인</a></div>
        </form>
    </div>
</div>

<script type="module">
    import { app } from "/javascripts/firebase.js";
    import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-auth.js";
    const auth = getAuth(app);
    console.log(auth);

    // 회원가입을 눌렀을 때
    // submit에 대한 이슈가 있으므로 e.preventDefault()호출 -> 안하면 404에러
    $(frm).on('submit', (e) => {
        console.log("회원가입버튼");
        e.preventDefault();
        //아래 함수를 호출하기 전에 사용자가 입력한 아이디와 비번을 담기
        //frm은 form태그의 name값이다.
        let email = $(frm.email).val();
        let password = $(frm.password).val();
        createUserWithEmailAndPassword(auth, email, password)
            .then((response) => { // 정상처리 되면 파라미터 변수에 응답메세지 삽입
            // 가입 성공하면 - createUserWithEmailAndPassword()함수에 인증객체와 이메일과 비번이 일치하면 내가 응답으로 메세지를 줄게 - 콜백함수
            console.log(response);
            alert("회원가입 성공");
            //회원가입이 성공하면 로그인으로
            location.href = "/login";
            })
            .catch((error) => { //에러발생시 실행
            const errorCode = error.code;
            const errorMessage = error.message;
            console.log(`${errorCode}, ${errorMessage}`);
            // ..
            });
    })
</script>